*{
    margin:0;
    padding:0;
    font-family: cursive;
}
body{
    height:100vh;
    position: relative;
}
#navbar{
    height: 15%;
    width:100%;
    /* background-color: cornflowerblue; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#logo{
    color: white;
    margin-left:50px;
    font-size: 20px;
}
#logo h2:hover{
    color:goldenrod;
    transform: scale(1.2);
    transition: 1s;
}
#mainsection img{
    position: absolute;
    top: 0;
    z-index: -1;
    filter: brightness(40%);
}
#mainsection{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}
#links a{
    margin-right:30px;
    color:white;
    text-decoration: none;
    font-size: 20px;
    position: relative;
}
#links a:hover{
    color:goldenrod;
}
#links a::after{
    content:"";
    height:3px;
    width:0px;
    background-color: red;
    position: absolute;
    left: 0px;
    bottom: 0;
    transition: 1s;
    
}

#links a:hover:after{
    width:100%;
    position: absolute;
}
#icons{
    width:20%;
}
#icons a{
    margin-right:30px;
    text-decoration: none;
    color:white;
    font-size: 20px;
}
#icons a:hover{
    color:goldenrod;
}
#content{
    color:white;
    width:1000px;
    text-align: center;
}
#h2{
    font-size: 68px;
    color:white;
}
.log-btn{
    padding:10px 40px;
    background: red;
    color:white;
    font-weight: bold;
    border-radius: 7px;
}
.log-btn:hover{
    background-color: red;
    color: black;
}
#show-btn{
    margin:15px;
    padding:13px 40px;
    background-color: goldenrod;
    font-weight:bold;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}
#show-btn:hover{
    background-color: gold;
}